In [1]:
# 1. Armstrong number

In [7]:
for i in range(1001):
    num=i
    result=0
    n=len(str(i))
    while(i!=0):
        d = i%10
        result = result+d**3
        i = i//10
        if num==result:
            print(num)

1
64
125
153
216
370
371
407
729

In [8]:
#2. pattern program

In [16]:
n = int(input('Enter the number of rows'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print('\n')

Enter the number of rows4
1

1 2

1 2 3

1 2 3 4

In [20]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end='')
    print()

1
22
333
4444
55555

In [21]:
#pattern program

In [25]:
n = int(input('Enter the number of rows'))
for i in range(n):
    for j in range(n):
        print('*',end='')
    print()

Enter the number of rows5
*****
*****
*****
*****
*****

In [32]:
n = int(input('Enter the number of rows'))
for i in range(n):
    for j in range(n):
        if j==0 or i==(n-1) or i==j:
            print('*',end='')
        else:
            print(end=' ')
    print()

Enter the number of rows5
*
**
* *
*  *
*****

In [33]:
#3 factorial

In [39]:
#inbuilt function
import math
n = int(input('Enter the number:'))
result = math.factorial(n)
print("factorial of",n,"is", result)

Enter the number:5
factorial of 5 is 120

In [47]:
#without using builtin function
n = int(input('Enter the value of n:'))
n1=n
fact =1
if n<0:
    print('Number cannot be negative')
elif n==0 or n==1:
    fact = 1
    print(fact)
else:
    
    while(n!=0):
        fact = fact*n
        n-=1
    print('Factorial of',n1,'number is ',fact)

Enter the value of n:7
Factorial of 7 number is  5040

In [1]:
# using recursion
def fact(n):
    if n ==0:
        return 1
    elif n<0:
        return 'Number cannot be negative'
    else:
        return n*fact(n-1)

In [2]:
n = int(input('Enter the value of n:'))

fact(n)

Enter the value of n:-1

'Number cannot be negative'

In [4]:
n = int(input('Enter the value of n:'))
fact=1
if n==0:
    print(fact)
elif n<0:
    print('number should be positive')
else:
    for i in range(1,n+1):
        fact = fact*i
print(fact)

Enter the value of n:5
120

In [5]:
#pattern

In [6]:
for i in range(n):
    for j in range(n):
        if i==0 or j==(n-1) or i==j:
            print('*',end='')
        else:
            print(end=' ')
    print()

*****
 *  *
  * *
   **
    *

In [13]:
n = int(input('Enter the value of n:'))
num =1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(num,end=' ')
        num+=1
    print()

Enter the value of n:5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [18]:
str1 = input('Enter any string:')
l = len(str1)
for i in range(l):
    for j in range(0,i+1):
        print(str1[j],end='')
    print()

Enter any string:python
p
py
pyt
pyth
pytho
python

In [19]:
#lcm

In [25]:
def compute_lcm(a,b):
    if n1>n2:
        higher = n1
    else:
        higher = n2
    value = higher
    while True:
        if higher%n1==0 and higher%n2==0:
            print("lCM of",n1,"and",n2,"is",higher)
            break
        else:
            higher = higher+value
n1=int(input('Enter the 1st number'))
n2=int(input('Enter the 2nd number'))
compute_lcm(n1,n2)

Enter the 1st number24
Enter the 2nd number36
lCM of 24 and 36 is 72

In [1]:
#Sorting numbers

In [5]:
l=[23,1,-5,3,2,0]
l1=[]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
print(l)

[-5, 0, 1, 2, 3, 23]

In [18]:
sum=0
l =[2,2,2,2,2]
count =0
for i in l:
    count =count+1
for i in l:
    sum = sum+i

In [19]:
sum

10

In [20]:
count

5

In [38]:
#median
x = [1,3,4,6,2,5]
n=0
#finding length of list
for i in x:
    n=n+1
# sorting in ascending order
for i in range(0,n):
    for j in range(i+1,n):
        if x[i]>x[j]:
            x[i],x[j]=x[j],x[i]
print('sorted list is',x)
# finding median
if n%2!=0:
    median = x[n//2]
else:
    median1 = x[n//2]
    median2 = x[n//2-1]
    median = (median1+median2)/2
print('median of list is:',median)

sorted list is [1, 2, 3, 4, 5, 6]
median of list is: 3.5

In [39]:
#mean of given numbers

In [42]:
x1=[1,2,3,4,5]
print('given list:',x1)
sum =0
n= 0
for i in x1:
    n = n+1
for i in x1:
    sum=sum+i
mean = sum/n
print('mean of given numbers is:',mean)

given list: [1, 2, 3, 4, 5]
mean of given numbers is: 3.0

In [31]:
mean

3.1666666666666665